* {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fafafa;
}

/* wrapper для центрирования контента */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.mainSection {
  position: relative;
  width: 1440px;
  height: 740px;
  background-color: #ffffff;
}

.mainSection section {
  position: absolute;
  top: 131px;
  width: 538px;
}

.mainSection.left section {
  left: 167px;
}

.mainSection.right section {
  right: 95px;
}

.mainSection.center {
  text-align: center;
}

.mainSection.center section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
      -webkit-box-pack: center;
         -ms-flex-pack: center;
       justify-content: center;
  top: 130px;
  width: 100%;
}

.mainSection.center,
.mainSection.right {
  color: #ffffff;
  background-color: rgb(135, 150, 150);
}

.mainSection figure {
  display: block;
  width: 30px;
  height: 4px;
  margin-top: 58px;
  background-image: url(../images/pattern.png);
}

.mainSection.center section nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 59px;
  font-size: 0
}

.mainSection.center section nav a {
  margin: 0 auto;
}

.mainSection.center footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 35px;
}

.mockup {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

#mockup_1 {
  top: 116px;
  right: 152px;
  width: 530px;
  height: 566px;
  background-image: url(../images/section_1.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup_2-1 {
  top: 75px;
  left: 167px;
  width: 140px;
  height: 316px;
  background-image: url(../images/section_2-1.jpg);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  z-index: 0;
}

#mockup_2-2 {
  top: 75px;
  left: 340px;
  width: 140px;
  height: 395px;
  background-image: url(../images/section_2-2.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  z-index: 0;
}

#mockup_2-3 {
  top: 75px;
  left: 513px;
  width: 140px;
  height: 475px;
  background-image: url(../images/section_2-3.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  z-index: 0;
}

#mockup_3 {
  top: 225px;
  right: 34px;
  width: 760px;
  height: 403px;
  background-image: url(../images/section_3.png);
  z-index: 0;
}

.full {
  display: block;
}

.compact {
  display: none;
}

/* Медиа запросы */
@media screen and (max-width: 1441px) {
  .wrapper {
    width: 100%;
  }
}

/* 1180 - first breakpoint */
@media screen and (max-width: 1180px) {
  .mainSection {
    width: 1180px;
    height: 526px;
  }

  .mainSection section {
    top: 95px;
    width: 365px;
  }

  .mainSection.left section {
    left: 190px;
  }

  .mainSection.right section {
    right: 167px;
  }

  .mainSection figure {
    display: block;
    width: 22px;
    height: 3px;
    margin-top: 42px;
    background-image: url(../images/pattern.png);
  }

  .mainSection.center section {
    top: 95px;
  }

  .mainSection.center section nav {
    padding-top: 42px;
  }

  .mainSection.center footer {
    bottom: -14px;
  }

  #mockup_1 {
    top: 82px;
    right: 193px;
    width: 376px;
    height: 402px;
  }

  #mockup_2-1 {
    top: 54px;
    left: 191px;
    width: 100px;
    height: 227px;
  }

  #mockup_2-2 {
    top: 54px;
    left: 315px;
    width: 100px;
    height: 283px;
  }

  #mockup_2-3 {
    top: 54px;
    left: 437px;
    width: 100px;
    height: 339px;
  }

  #mockup_3 {
    top: 159px;
    right: 108px;
    width: 540px;
    height: 287px;
  }

  .full {
    display: none;
  }
  .compact {
    display: block;
  }
}

/* 840 - second breakpoint */
@media screen and (max-width: 840px) {
  .mainSection {
    width: 840px;
    height: 982px;
  }
  .mainSection.left section {
    left: 151px;
  }
  .mainSection.right section {
    right: 127px;
  }
  .mainSection.center section {
    top: 145px;
  }
  .mainSection.center section nav {
    padding-top: 92px;
  }

  .mainSection.center footer {
    bottom: -14px;
  }
  .mainSection.center footer p {
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 10px;
  }

  #mockup_1 {
    top: 398px;
    right: 149px;
    width: 540px;
    height: 544px;
  }
  #mockup_2-1 {
    top: 372px;
    left: 175px;
    width: 140px;
    height: 317px;
  }
  #mockup_2-2 {
    top: 372px;
    left: 343px;
    width: 140px;
    height: 396px;
  }
  #mockup_2-3 {
    top: 372px;
    left: 521px;
    width: 140px;
    height: 475px;
  }
  #mockup_3 {
    top: 422px;
    right: -77px;
    width: 759px;
    height: 403px;
  }
}

/* Retina images */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    #mockup_1 {
      background-image: url(../images/section_1@2x.jpg);
    }

    #mockup_2-1 {
      background-image: url(../images/section_2-1@2x.png);
    }

    #mockup_2-2 {
      background-image: url(../images/section_2-2@2x.jpg);
    }

    #mockup_2-3 {
      background-image: url(../images/section_2-3@2x.jpg);
    }
    #mockup_3 {
      background-image: url(../images/section_3@2x.jpg);
    }
}
