* {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.bg {
  background-image: url(../images/mockups/1440.png);
  background-position: top center;
  background-repeat: no-repeat;
}

/* wrapper для центрирования контента */
.wrapper {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  overflow: hidden;
}

.mainSection {
  position: relative;
  width: 100%;
  height: 740px;
  /*margin-top: 60px;*/
}

.mainSection section {
  position: absolute;
  top: 131px;
  width: 538px;
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  padding-bottom: 26px;
}

.mainSection p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
}

.mainSection.left section {
  left: 152px;
}

.mainSection.right section {
  right: 111px;
}

.mainSection.center {
  text-align: center;
}

.mainSection.center section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 130px;
  width: 100%;
}

.mainSection.center,
.mainSection.right {
  color: #ffffff;
  background-color: rgb(135, 150, 150);
}

.mainSection figure {
  display: block;
  width: 30px;
  height: 4px;
  margin-top: 58px;
  background-image: url(../images/pattern.png);
}

.mainSection.center section nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 59px;
  font-size: 0
}

.mainSection.center section nav a {
  margin: 0 auto;
}

.mainSection.center footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 35px;
}

.mainSection.center footer p {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 10px;
}

.mockup {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

#mockup_1 {
  top: 116px;
  right: 168px;
  width: 530px;
  height: 566px;
  background-image: url(../images/section_1.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup_2-1 {
  top: 75px;
  left: 160px;
  width: 140px;
  height: 316px;
  background-image: url(../images/section_2-1.jpg);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  z-index: 0;
}

#mockup_2-2 {
  top: 75px;
  left: 333px;
  width: 140px;
  height: 395px;
  background-image: url(../images/section_2-2.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  z-index: 0;
}

#mockup_2-3 {
  top: 75px;
  left: 506px;
  width: 140px;
  height: 475px;
  background-image: url(../images/section_2-3.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  z-index: 0;
}
#mockup_3 {
  top: 225px;
  right: 48px;
  width: 760px;
  height: 403px;
  background-image: url(../images/section_3.png);
  z-index: 0;
}
.full {
  display: block;
}
.compact {
  display: none;
}

/* Медиа запросы */

/* > 1680 */
@media screen and (min-width: 1680px) {
  section.wrapper {
    border-left: 120px solid rgb(250, 250, 250);
    border-right: 120px solid rgb(250, 250, 250);
  }
}

/* 1180 - breakpoint */
@media screen and (max-width: 1180px) {
  body.bg {
    background-image: url(../images/mockups/1180_first_breakpoint.png);
  }
  .wrapper {
    width: 1180px;
  }
  .mainSection.left section {
    left: 29px;
  }
  .mainSection.right section {
    right: -28px;
  }

  #mockup_1 {
    top: 116px;
    right: 30px;
  }
  #mockup_2-1 {
    top: 75px;
    left: 30px;
  }
  #mockup_2-2 {
    top: 75px;
    left: 202px;
  }
  #mockup_2-3 {
    top: 75px;
    left: 375px;
  }
  #mockup_3 {
    top: 225px;
    right: -90px;
  }
}

/* 1024 */
@media screen and (max-width: 1024px) {
  body.bg {
    background-image: url(../images/mockups/1024.png);
  }
  .wrapper {
    width: 1024px;
  }
  .mainSection {
    height: 526px;
    /*margin-top: 42px;*/
  }
  .mainSection section {
    width: 365px;
  }
  .mainSection h2 {
    font-size: 30px;
    line-height: 39px;
    padding-bottom: 18px;
  }
  .mainSection p {
    font-size: 16px;
    line-height: 26px;
  }
  .mainSection.left section {
    top: 95px;
    left: 114px;
  }
  .mainSection.right section {
    top: 95px;
    right: 91px;
  }
  .mainSection figure {
    display: block;
    width: 22px;
    height: 3px;
    margin-top: 42px;
    background-image: url(../images/pattern.png);
  }

  .mainSection.center section {
    top: 95px;
  }
  .mainSection.center section nav {
    padding-top: 42px;
  }

  .mainSection.center footer {
    bottom: -14px;
  }
  .mainSection.center footer p {
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 10px;
  }

  #mockup_1 {
    top: 82px;
    right: 113px;
    width: 376px;
    height: 402px;
  }
  #mockup_2-1 {
    top: 54px;
    left: 113px;
    width: 100px;
    height: 227px;
  }
  #mockup_2-2 {
    top: 54px;
    left: 237px;
    width: 100px;
    height: 283px;
  }
  #mockup_2-3 {
    top: 54px;
    left: 359px;
    width: 100px;
    height: 339px;
  }
  #mockup_3 {
    top: 159px;
    right: 27px;
    width: 542px;
    height: 287px;
  }
  .full {
    display: none;
  }
  .compact {
    display: block;
  }
}

/* 840 - breakpoint */
@media screen and (max-width: 840px) {
  body.bg {
    background-image: url(../images/mockups/840_second_breakpoint.png);
  }
  .full {
    display: none;
  }
  .compact {
    display: block;
  }
  .wrapper {
    width: 840px;
  }
  .mainSection {
    height: 526px;
    /*margin-top: 42px;*/
  }
  .mainSection section {
    width: 367px;
  }
  .mainSection h2 {
    font-size: 30px;
    line-height: 39px;
    padding-bottom: 18px;
  }
  .mainSection p {
    font-size: 16px;
    line-height: 26px;
  }
  .mainSection.left section {
    top: 95px;
    left: 22px;
  }
  .mainSection.right section {
    top: 95px;
    right: -6px;
  }
  .mainSection figure {
    display: block;
    width: 22px;
    height: 3px;
    margin-top: 42px;
    background-image: url(../images/pattern.png);
  }
  .mainSection.center section {
    top: 95px;
  }
  .mainSection.center section nav {
    padding-top: 42px;
  }

  .mainSection.center footer {
    bottom: -14px;
  }
  .mainSection.center footer p {
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 10px;
  }

  #mockup_1 {
    top: 82px;
    right: 23px;
    width: 376px;
    height: 402px;
  }
  #mockup_2-1 {
    top: 54px;
    left: 21px;
    width: 100px;
    height: 227px;
  }
  #mockup_2-2 {
    top: 54px;
    left: 145px;
    width: 100px;
    height: 283px;
  }
  #mockup_2-3 {
    top: 54px;
    left: 267px;
    width: 100px;
    height: 339px;
  }
  #mockup_3 {
    top: 159px;
    right: -65px;
    width: 542px;
    height: 287px;
  }
}

/* < 839 */
@media screen and (max-width: 839px) {
  body.bg {
    background-image: url(../images/mockups/768.png);
  }
  .wrapper {
    width: 768px;
  }
  .mainSection {
    height: 982px;
  }
  .mainSection.left section {
    top: 95px;
    left: 113px;
  }
  .mainSection.right section {
    top: 95px;
    right: 92px;
  }
  .mainSection.center section {
    top: 145px;
  }
  .mainSection.center section nav {
    padding-top: 92px;
  }

  #mockup_1 {
    top: 396px;
    right: 114px;
    width: 540px;
    height: 544px;
  }
  #mockup_2-1 {
    top: 372px;
    left: 138px;
    width: 140px;
    height: 317px;
  }
  #mockup_2-2 {
    top: 372px;
    left: 311px;
    width: 140px;
    height: 396px;
  }
  #mockup_2-3 {
    top: 372px;
    left: 484px;
    width: 140px;
    height: 475px;
  }
  #mockup_3 {
    top: 422px;
    right: -113px;
    width: 759px;
    height: 403px;
  }
}

/* Retina images */
@media screen
  and (-webkit-min-device-pixel-ratio: 2)
  and (-webkit-min-device-pixel-ratio: 2), screen
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    #mockup_1 {
      background-image: url(../images/section_1@2x.jpg);
    }

    #mockup_2-1 {
      background-image: url(../images/section_2-1@2x.png);
    }

    #mockup_2-2 {
      background-image: url(../images/section_2-2@2x.jpg);
    }

    #mockup_2-3 {
      background-image: url(../images/section_2-3@2x.jpg);
    }
    #mockup_3 {
      background-image: url(../images/section_3@2x.jpg);
      z-index: 0;
    }
}
